*{font-family:Tahoma, Verdana, Helvetica, sans-serif; font-size:11px; }
body
{
	padding:0 0 0 0;
	margin:0 0 0 0;
	background-color:#BEBEBE;
	color:#474747;
}
div.spacer
{
	clear: both;
}
a
{
	color:#D6D6D6;
	padding:0 10px 0 10px;
	background-color:inherit;
	
}


.div-wrapper
{
	width:698px;
	height:auto;
	margin:0 auto 0 auto;
	padding:0;
	background-image:url(images/body-background.gif);
	background-repeat:repeat-y;
}
.div-wrapper-body
{
	width:698px;
	height:auto;
	margin:0 auto 0 auto;
	padding:0;
	background-image:url(images/body-bg.gif);
	background-repeat:repeat-y;
}
p
{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
ul
{
	list-style-type:none;
	padding:10px 0 0 25px;
	margin:0 0 0 0;
}
li
{
	list-style-type:none;
	background-image:url(images/bullets.gif);
	background-repeat:no-repeat;
	background-position:0 50%;
	padding:3px 5px 3px 18px;
}
.banner-bg
{
	background-image:url(images/banner-bg.jpg);
	background-repeat:no-repeat;
	width:393px;
	height:244px;
	float:left;
}
.image-holder
{
	float:left;
	width:305px;
	height:244px;
	background:url(images/banner1.png) no-repeat 0 0;
}
.logo
{
	padding:0px 0 0 0px;
}

ul.link{
	font-size:0; line-height:0; height:25px; margin:20px 0 0 0;
	}
ul.link li{
	float:left; line-height:19px; border-right:#FFFFFF 1px solid; padding:0 15px; background-image:none;
	}
ul.link li.nobor{
	border-right:none;
	}
ul.link li a{
	text-decoration:none;  color:#FFFFFF; background-color:#5D7C91; 
	font:bold 15px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
ul.link li a:hover{
	color:#FFD16E; background-color:inherit;
	}

.body-background
{
	background-image:url(images/body-bg.gif);
	background-repeat:repeat-y;
	background-position:288px 0 ;
}
.left-body-wrapper
{
	width:233px;
	float:left;
}
.right-body-wrapper
{
	width:453px;
	float:left;
	background-color:#F2F0F0;
	color:#474747;
}
.right-body-wrapper2
{
	width:453px;
	float:left;
}
.heading
{
	font-weight:bold;
	color:#ffffff;
	padding:10px 0 10px 20px;
	background-image:url(images/select-info-bg.jpg);
	background-repeat:repeat-y;
	background-color:inherit;
}
.black-heading
{
	color:#000000;
	font-weight:bold;
	padding:10px 0 5px 15px;
	float:left;
	background-color:inherit;
}
.float-right
{
	float:right;
	padding:4px 0 4px 0;
}
.float-left
{
	float:left;
	padding:0 0 0 0;
}
.image-1
{
	padding-left:10px;
	width:210px;
	float:left;
	color:#474747;
	background-color:inherit;
}
.image-1 a
{
	padding-left:150px;
	color:#474747;
	background-color:inherit;
}

.border-bottom
{
	border-bottom:1px solid #D6D6D6;
	float:left;
	width:100%;
}
.yellow-headings
{
	color:#825900;
	font-weight:bold;
	margin:8px 0 0 0;
	float:left;
	background-color:inherit;
}

.yellow-headings2
{
	color:#000080;
	font-weight:900;
	margin:20px 0 0 0;
	float:center;
	background-color:inherit;
}
.footer
{
	padding:25px 0 0 20px;
	font-weight:bold;
	float:left;
}
.footer a{
	text-decoration:underline; color:#474747; background-color:inherit;
	}
.footer a:hover{
	text-decoration:none;
	}
.footer1{
	padding-top:5px;
	padding-bottom:25px;
	}
.login
{
	padding:10px 0 0 60px;
}
.id
{
	width:75px;
	float:left;
}
.input-fieldfield
{
	background-color:#ffffff;
	border:1px solid #000000;
	margin-top:2px;
	width:175px;
	color:#000000;
}
.input-button
{
	background-color:#ffffff;
	border:1px solid #000000;
	margin-top:2px;
	width:56px;
	color:#000;
}

form1
{
	padding:0 0 0 0;
	margin:0 0 0 0;
}


@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
  
*{
  box-sizing: border-box;

}
html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: url('image-41.jpg')#7f8c8d;
}
h1{
  text-align: center;
  font-size: 48pt;
  font-family: 'Lobster Two', cursive;
  margin-top: 75px;
  color: #fff;
  text-shadow: -1px 1px 0px #000;
}
.container{
  font-family: Arial;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-lines: multiple;
}
.box{
  width: 250px;
  height: 200px;
  background: url('images/image-100.jpg');
  overflow: hidden;
  margin: 1px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
}
.cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}
.cover .title{
  font-size: 16pt;
  font-style: italic;
}
.box .cover .intro{
  line-height: 1.2em;
  height: 4.8em;
  width: 100%;
  position: relative;
  font-size: 10pt;
  overflow: hidden;
}
.cover .btn{
  padding: 0.5em 1em;
  margin: 0.5em;
  background: #0099cc;
  float: right;
  border-radius: 0.25em;
}
.btn a{
  color: #fff;
  text-decoration: none;
}

.box:hover .left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   left: 0px;
}
.box:hover .right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   right: 0px;
}
.box:hover .top{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}
.box:hover .bottom{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
}
.box:hover .top-left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    top: 0px;
    left: 0px;
}
.box:hover .top-right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    top: 0px;
    right: 0px;
}
.box:hover .bottom-left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
    left: 0px;
}
.box:hover .bottom-right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
    right: 0px;
}
.left{
  left: -250px;
}
.right{
  right: -250px;
}
.top{
  top: -200px;
}
.bottom{
  bottom: -200px;
}
.top-left{
  top: -200px;
  left: -250px;
}
.top-right{
  top: -200px;
  right: -250px;
}
.bottom-left{
  bottom: -200px;
  left: -250px;
}
.bottom-right{
  bottom: -200px;
  right: -250px;
}
/* Ordering */
  .left{order:1;}
  .right{order:2;}
  .top{order:3;}
  .bottom{order:4;}
  .top-left{order:5;}
  .top-right{order:6;}
  .bottom-left{order:7;}
  .bottom-right{order:8;}



  
  
  
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:800,400);
*, *:before, *:after {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
html,
body {
  width:100%;
  height:100%;
}

.mail-btn {
  position:relative;
  top:35%;
  display:inline-block;
  padding:0.5rem 1rem;
  border:2px solid rgba(142, 213, 87, 0.3);
  background:none;
  outline:none;
  -webkit-appearance: none;
  font-size:2rem;
  color:rgb(127, 127, 127);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.5rem;
  text-indent:0.5rem;
  cursor:pointer;
  -webkit-transition:
    color 1.5s .5s,
    border 3s 1s;
  transition:
    color 1.5s .5s,
    border 3s 1s;
  
}
.mail-btn:before,
.mail-btn:after {
  content:'';
  position:absolute;
  opacity:0;
  -webkit-backface-visibility:visible;
          backface-visibility:visible;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-perspective:400px;
          perspective:400px;
  -webkit-transform-origin:50% -50%;
          transform-origin:50% -50%;
  -webkit-transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
          transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}
.mail-btn:before {
  top:5px;
  left:50%;
  height:3rem;
  background:white;
  border-top:2rem solid #2980b9;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:after {
  top:0;
  left:50%;
  border-top:2rem solid white;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:hover {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  -webkit-transition:
    color .25s,
    border .25s;
  transition:
    color .25s,
    border .25s;
}
.mail-btn:hover:before,
.mail-btn:hover:after {
  opacity:1;
  -webkit-transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
          transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  -webkit-animation:sended 4s 0.8s forwards;
          animation:sended 4s 0.8s forwards;
}
@-webkit-keyframes sended {
  0% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    -webkit-transform:rotate(-45deg) translateX(300%) translateY(-500%);
            transform:rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    -webkit-transform:rotate(-45deg) translateX(0) translateY(0);
            transform:rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    -webkit-transform:rotate(-45deg) translateX(0) translateY(0);
            transform:rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    -webkit-transform:rotate(-45deg) translateX(0) translateY(0);
            transform:rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    opacity:0;
    -webkit-transform:rotate(0) translateX(0) translateY(0);
            transform:rotate(0) translateX(0) translateY(0);
  }
  100% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,1);
    border:2px solid rgba(255,255,255,0.5);
    opacity:1;
    -webkit-transform:rotate(0) translateX(0) translateY(0);
            transform:rotate(0) translateX(0) translateY(0);
  }
}
@keyframes sended {
  0% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    -webkit-transform:rotate(-45deg) translateX(300%) translateY(-500%);
            transform:rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    -webkit-transform:rotate(-45deg) translateX(0) translateY(0);
            transform:rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    -webkit-transform:rotate(-45deg) translateX(0) translateY(0);
            transform:rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    -webkit-transform:rotate(-45deg) translateX(0) translateY(0);
            transform:rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    opacity:0;
    -webkit-transform:rotate(0) translateX(0) translateY(0);
            transform:rotate(0) translateX(0) translateY(0);
  }
  100% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,1);
    border:2px solid rgba(255,255,255,0.5);
    opacity:1;
    -webkit-transform:rotate(0) translateX(0) translateY(0);
            transform:rotate(0) translateX(0) translateY(0);
  }
}
.fly:before,
.fly:after {-webkit-animation:flyout .6s forwards;animation:flyout .6s forwards;}
@-webkit-keyframes flyout {
  0% {
    opacity:1;
    -webkit-transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
            transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity:0.66;
    -webkit-transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
            transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }
  100% {
    opacity:0;
    -webkit-transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
            transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}
@keyframes flyout {
  0% {
    opacity:1;
    -webkit-transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
            transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity:0.66;
    -webkit-transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
            transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }
  100% {
    opacity:0;
    -webkit-transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
            transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}